
/* This is a fallback for the app in case the Config.json is not provided or not loaded properly. */
  :root {
    --brand-primary: #B19CD9;
    --brand-bg: #f0f4f8;
    --brand-text: #333333;
    --brand-accent: #e2e6ea;
    --brand-font: sans-serif;
  }
  
  body {
    background-color: var(--brand-bg);
    color: var(--brand-text);
    font-family: var(--brand-font);
  }